
.login {
    /* height: 260px; 
    width: 250px;  */
    background-color:rgba(4, 75, 26, 0.905) ;
    opacity: 80%;
    
    color: #fff;
    
    width: 400px;
    
    padding: 60px 60px 60px 60px ;
    border-radius: 20px;
  
  }
  
  .login  input[type="email"],input[type="password"]{
      width: 280px;
      margin-bottom:20px ;
      
      color: #fff;
      font-size: 15px;
  }
  .login input[type="email"],input[type="password"]
  {
    border: none;  
    border-bottom: 2px solid #fff;
    background-color: transparent ;
    outline:none ;
    height: 40px;
    font: size 15px; 
  
  }
  .login input[type="submit"]
  {
      
    color:#fff ;
    background-color:   #bf9928 ; 
    outline:none ;
    height: 40px;
    border-radius:20px ;
    width:100px ;
    font-family:Arial, Helvetica, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
  }
  .login input[type="submit"]:hover
  {
  cursor: pointer;
  background-color:rgb(156, 121, 8);
  }
  .role{
    background-color:rgba(4, 75, 26, 0.905);
    color: #fff;
  }
  