.wrapper{
    text-align: center;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
} 
.section-header{
    text-transform: uppercase;
    padding-bottom: 15px;
    font-size: 30px;
    color: #d1b080;
    letter-spacing: 2px;
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}

.main-content{
    background-color: #262626;
    width: 100%;
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    row-gap: 10px;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 190px;
    justify-content: center;
}

.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
	position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	right: 100%;
	transition: all 1s;	
}
.main-content .box:hover .img-text{
    top: 0;
    right: 0;
}
@media (max-width: 750px){
    .main-content {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .main-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
