
.container{
	max-width: 100%;
	margin: auto;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #aca39f;
    padding: 20px 0;
	top: 0;
	height: 250px;
}
.social {
	margin-bottom: 15px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #0c0e04;
	text-transform: capitalize;
	font-weight: 800;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li{
	margin-bottom: 12px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #2b4950;
	transition: all 0.3s;
}
.footer-col ul li a:hover{
	color: #482b2b;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}





