.header {
    height: 70px;
    background: rgba(111, 125, 114, 0.6); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 8px;
    padding-right: 8px;
    right: 0;
    left: 0;
    top: 0;
}

.logo {
    background-color: rgb(112, 183, 66);
    width: 50px;
    clip-path: circle();
    left: 20px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px;
}

.menu button, .register{
    border: none;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background: transparent;
    padding: 4px 4px;
    transition: background-color 0.23s;
    font-size: 19px;
    overflow: hidden;
    margin-left: 20px;
}
.register:hover{
    color: black;
    background-color: rgb(202, 202, 178);
    border-radius: 5px;
}
.register{
    color: rgb(114, 12, 134);
    border: solid white 2px;
    background: transparent;
}

.menu button:hover{
    color: black;
    background-color: rgb(202, 202, 178);
    border-radius: 5px;
}

button, a{
    text-decoration: none;
    cursor: pointer;
}
.uname{
    background-color: rgb(225, 229, 218);
    padding: 8px 15px;
    color: rgb(83, 73, 73);
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
}
/* shopping cart */
.shopping a {
    margin-left: 5px;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.shopping i {
    font-size: 13px;
    margin-right: 3px;
}

.shopping .cart {
    background-color: rgb(60, 224, 60);
    color: #333;
    padding: 3px 7px;
    border-radius: 17px;
}

.shopping .cart span {
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 5px;
}
/*drop-down style*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: greenyellow;
    border-radius: 12px;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover {
    color: #fff;
    background-color: #ff0000;
    border-radius: 12px;
}