.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #eee;
  padding: 50px;
  text-align: center;
}
h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
button{
  padding: 12px;
  background-color: #333;
  
}

input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.error{
  color: red;
}
button[type="submit"], select {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
select {
  background-color: #fff;
  color: #333;
}

p {
  text-align: center;
}