body{
  overflow: hidden;
}
.wrapper{
    text-align: center;
    padding: 20px;
  } 
  .section-header{
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 24px;
    color: #425307;
    letter-spacing: 2px;
  }
  .content {
  padding: 10%;
  }
  .content h2 {
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .content p {
  line-height: 1.5;
  }
  .main-content{
    background-color: #8e8787;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
  }
  .main-content .box{
    position: relative;
    cursor: pointer;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 215px;
    overflow: hidden;
    justify-content: center; 
  }
  
  .main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main-content .box .img-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 100%;
    right: 100%;
    transition: all 1s;	
  }
  .main-content .box:hover .img-text{
    top: 0;
    right: 0;
  }
  @media (max-width: 750px){
    .main-content {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1000px){
    .main-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }