body{
    font-family: system-ui;
}
.top{
    margin-top: 12px;
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    color: #0074b7;
}
.product_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    margin-top: 20px auto;
    margin-left: 10px;
    width: 95%;
}
.cart_list{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
    margin-top: 20px auto;
    width: 95%;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    height: 270px;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 60%;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
    color: rgb(63, 18, 135);
    font-weight: bold;
}
#submit{
    color: #2b2828;
    background-color: #b3ff00;
}
#delete{
    background-color: #ff0000;
    color: #fff;
}
#submit,  #delete{
    padding: 8px 12px;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}
#delete:hover {
    background-color: #cc0000;
}
#submit:hover {
    background-color: #537931;
    color: #b3ff00;
}
#quantity{
    width: 39px;
    padding: 3px;
    height: 20px;
}

.number{
    display: inline-block;
    background-color: white;
    padding: auto;
    width: 30px;
    color: #cc0000;
    font-size: 30px bold;
    border: 1px solid black;
}
/* exclusively for cart page */
.container{
    display: flex;
    width: 90%;
    margin: 20px auto;
  }
.col1{
    flex-basis: 80%;
    background-color: #dde2e7;
    border-radius: 5px;
    padding: 0 15px;
}

.price-details {
    flex: 1;
    text-align: center;
    height: 400px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.price-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.delivery-charge {
    color: #777;
}
.total {
    font-size: 18px;
    margin-top: 20px;
}
hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}
h6 {
    margin: 0;
}
/* CSS */
.pay {
    background-color: #0095ff;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    padding: 8px .8em;
    position: relative;
    text-align: center;
  }
  
  .pay:hover{
    background-color: #07c;
  }
  .pay:active {
    background-color: #0064bd;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    box-shadow: none;
  }
  /* payment popup */
  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 0px 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}