/* styles.css */
html, body {
    background-image: url('../images/white_bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #eee;
    padding: 25px 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-columns {
    display: flex;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    margin-right: 10px; 
}

h1 {
    color: #007BFF;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    margin-left: 40%;
}
button, select {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    font-size: 18px;
    cursor: pointer;
}
select {
    background-color: #fff;
    color: #333;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}
