.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.col1, .col2 {
  flex-basis: 50%;
  box-sizing: border-box;
}

.col2 {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: #191717;
  font-size: 100px;
}

.col1 p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: rgb(39, 31, 37);
}

.card p {
  font-size: 24px;
  font-weight: 1000px;
  text-shadow: 2px 2px 4px rgba(87, 83, 83, 0.7);
}

.col1 button {
  width: 180px;
  color: #000000;
  font-size: 12px;
  padding: 12px 0;
  border: 0;
  border-radius: 20px;
  margin-top: 30px;
  background-color: whitesmoke;
}

.card {
  width: 250px;
  height: 220px;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px;
  background-position: center;
  background-size: cover;
  transform: rotateY(20deg);
  transition: all 0.9s;
}
.card:hover {
  transform: translateY(-10px);
}

.card1 {
  background-image: url('../images/4/1.jpg');
  color: white;
}

.card2 {
  background-image: url('../images/5/1.jpg');
  color: black;
}

.card3 {
  background-image: url('../images/6/1.jpg');
  color: whitesmoke;
}

.card4 {
  background-image: url('../images/1/11.jpg');
  color: black;
}

.typewriter-text::before {
  content: "Home Appliance";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: typing 5s steps(40, end) infinite;
}

@keyframes typing {
  0% {
      width: 0;
  }
  100% {
      width: 10ch;
  }
}
